body{
    height: 100vh;
    background-color: $bg-color;
    width: 100vw;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
 font-size: 65%;
}

a{
  text-decoration: none;
  color: $primary-color;
}


