@media screen and (min-width: 908px){
    .login-page{
        width: 100vw;
        display: grid;
        margin: 0 auto;
        grid-template-columns:8vw 2fr minmax(35vw,1fr) 10vw;
        grid-template-rows: 5vh 5vh 1fr 25vh 10rem;
        grid-template-areas:
        '. . . .'
        '. . m .'
        '. f m .'
        '. f . .'
        '. . . .';

    
        &__main{
         background-color: white;
         padding: 2rem;
         border:1px solid #e6e6e6;
         border-radius: 1px;
         grid-area: m;
        
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
 
           
         &__logo{
            width: 16rem;
            height: 8rem;  
            img{
                width: 100%;
                height: 100%;  
             }
        }


        &__cadastro{
            display: flex;
            flex-direction: column;
            align-items: center;
           h4{
            color: $text-muted;
            font-weight: 700;
            text-align: center;
           
           }
           


           &__form{
             width:100%;
             margin-top: 2rem;
             height: 40vh;
             display: flex;
             flex-direction: column;
             justify-content: space-between;

             .form-cadastro-item{
              border-radius: 3px;
              color: $text-main;
              padding: 1.1rem;
              border: 1px solid #efefef;
              background-color: $bg-color;

              
             }

             .btn-primary{
                padding: .9rem;
                font-size: 1.2rem;

                display: flex;
                align-items: center;
                justify-content: center;
            }
           }

         
        }

        &__login{

            display: flex;
            flex-direction: column;
            align-items: center;

           &__form{
             width: 100%;
             height: 24vh;
             margin-top: 2rem;
             display: flex;
             flex-direction: column;
             justify-content: space-between;

             .form-cadastro-item{
              border-radius: 3px;
              color: $text-main;
              padding: 1.1rem;
              border: 1px solid #efefef;
              background-color: $bg-color;

              
             }

             .btn-primary{
                padding: .9rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
           }
      }
      
    }

        &__img{
         display: block;
         grid-area: f;

         img{
            height: 100%;
            width: 100%;
         }

     }
    }
 
 
 }


@media screen and (min-width:1400px){
    .login-page{
        grid-template-columns:  20vw 2fr 25vw 20vw;
        grid-template-rows: 15vh 5vh 1fr 25vh 15rem;


    }
}